<div class="contents bgw">
	<div class="col-sm-12">
		<button class="btn btn-primary pull-right" ng-click="create()">新增消息</button>
	</div>
	<table class="table table-bordered table-striped text-center">
		<thead>
			<tr class="info">
				<th>序号</th>
				<th>消息类型</th>
				<th>渠道</th>
				<th>行业</th>
				<th>标题</th>
				<th>内容示例</th>
				<th>网页路径</th>
				<th>小程序APPID</th>
				<th>小程序页面</th>
				<th>是否有效</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="message in view.messagesTemplate">
				<td ng-bind="$index+1"></td>
				<td ng-bind="message.type"></td>
				<td width="10%">{{message.channel==1?'公众号':message.channel==2?'小程序':''}}</td>
				<td width="20%">{{message.industry}}</td>
				<td width="20%">{{message.title}}</td>
				<td align="left" width="55%" style="word-break:break-all;" ng-bind="message.content"></td>
				<td>{{message.path}}</td>
				<td>{{message.minAppId}}</td>
				<td>{{message.pages}}</td>
				<td></td>
				<td width="30%">
					<button class="btn btn-primary" ng-click="edit($index)">修改</button>
					<!-- <button class="btn btn-danger" ng-click="delete(message.id)">删除</button> -->
				</td>
			</tr>
		</tbody>
	</table>
	<!-- 分页暂时没做 -->
	<!-- <div class="col-sm-8 " ng-if="view.messagesTemplate.items">
            <pagination items-per-page="view.messagesTemplate.count" boundary-links="true" total-items="view.messagesTemplate.total" ng-model="view.messagesTemplate.page" class="pagination-sm" previous-text="&lsaquo;" ng-change="pageChange()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </pagination>

    </div> -->


</div>