<form class="row" enctype="multipart/form-data" id="shareUser">

    <div class="col-md-12">
        <div class="col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="product" class="col-sm-3 control-label text-right">
                    <span class="text-red">*</span> 名称
                </label>
                <div class="col-sm-9" id="product">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="text" class="form-control rightInput col-md-10" ng-model="view.name" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="col-md-12">
        <div class="col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="product" class="col-sm-3 control-label text-right">
                    <span class="text-red">*</span> 分享金活动
                </label>
                <div class="col-sm-9" id="product">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="radio-inline" style="width: 70%;">
                                <select type="text" class="form-control col-md-10 rightInput" ng-model="view.activityId"
                                    required ng-options="item.id as item.name for item in view.activities">
                                    <!-- <option value="" ng-repeat="item in view.activities" value="{{item.id}}">{{item.name}}</option> -->
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="col-md-12">
        <div class="col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="product" class="col-sm-3 control-label text-right">
                    <span class="text-red">*</span> 红包总个数
                </label>
                <div class="col-sm-9" id="product">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="number" class="form-control col-md-10 rightInput" ng-model="view.countLimit"  
                                    placeholder="1-10000" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!--  -->
     <div class="col-md-12">
            <div class="col-sm-12 form-horizontal">
                <div class="form-group">
                    <label for="product" class="col-sm-3 control-label text-right">
                        <span class="text-red">*</span> 发起者获得的金额
                    </label>
                    <div class="col-sm-9" id="product">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="number" class="form-control col-md-10 rightInput" ng-model="view.amount"
                                        placeholder="0.01-100" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--  -->
    <div class="col-md-12">
        <div class="col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="product" class="col-sm-3 control-label text-right">
                    <span class="text-red">*</span> 红包类别
                </label>
                <div class="col-sm-9" id="product">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="radio-inline" style="width: 70%;">
                                <select type="text" class="form-control col-md-10 rightInput" ng-model="view.randomly" ng-change="randomlyChange()"
                                    required>
                                    <option value=false>固定金额</option>
                                    <option value=true>随机金额</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <!--  -->
    <div class="col-md-12 norandomBox" ng-if="view.randomly=='false'">
        <div class="col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="product" class="col-sm-3 control-label text-right">
                    <span class="text-red">*</span> 领取者获得的金额
                </label>
                <div class="col-sm-9" id="product">
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="radio-inline">
                                <input type="number" class="form-control col-md-10 rightInput" ng-model="view.partAmount"
                                    placeholder="0.01-100" />

                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <div class="col-md-12 randomBox" ng-if="view.randomly=='true'">
        <div class="col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="product" class="col-sm-3 control-label text-right">
                    <span class="text-red">*</span>领取者
                </label>
                <div class="col-sm-7" id="product">
                    <div class="col-sm-12" ng-repeat="item in view.participants">
                        <div class="hang">
                            <label for="">金额</label>
                            <input class="form-control" style="width: 142px;" type="number" ng-model="item.min">至<input
                                class="form-control" ng-model="item.max" style="width: 142px;" type="number">
                            <div class="col-sm-2">
                                <button class="btn btn-primary pull-left" ng-if="$index==0"
                                    ng-click="addParticipants()">+</button>
                                <button class="btn btn-danger pull-left" ng-if="$index>0"
                                    ng-click="removeParticipants($index)">-</button>
                            </div>
                        </div>
                        <div class="hang">
                            <label for="">数量</label>
                            <input class="form-control" type="number" style="width: 300px;" ng-model="item.count">
                        </div>
                        <div class="hang">
                            <label for="">机率</label>
                            <input class="form-control" type="number" style="width: 300px;" ng-model="item.probability" placeholder="0.01-1">
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--  -->
    <div class="col-md-12">
        <div class="col-sm-12 form-horizontal">
            <div class="form-group">
                <label for="product" class="col-sm-3 control-label text-right">
                    <span class="text-red">*</span>返利
                </label>
                <div class="col-sm-9" id="product">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="hang">
                                <label>模式</label>
                                <select style="display: inline-block;"  class="form-control rightInput"
                                    ng-model="view.rebates[0].mode" required>
                                    <option value="2">百分比</option>
                                    <option value="1">固定值</option>
                                </select>
                            </label>
                            <label class="col-sm-12">
                                <label>值&nbsp;</label>
                                <input style="display: inline-block;" type="number" class="form-control rightInput"
                                    ng-model="view.rebates[0].amount" placeholder="0.01-1">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-10 col-sm-offset-2">
        <div class="row">
            <div class="col-sm-3">
                <a class="btn btn-default btn-block btn_back" back-button>返回</a>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <button class="btn btn-primary btn-block" ng-click="submitFn()">确定</button>
            </div>
        </div>
    </div>
</form>