<div class="contents bgw" id="useracountsRule">
    <div ng-bind="username"></div>
    <div class="col-xs-12 text-right">
        <button class="btn  btn-default btn-primary update" ng-click="addBtn()">新增</button>
    </div>

    <div class="view-slide-out">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr class="info">
                    <th width="60">标题</th>
                    <th>合同规则编号</th>
                    <th>合同版本</th>
                    <th>合同编号</th>
                    
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in view.mchs.items">
                    <td class="col-sm-1" ng-bind="item.name"></td>
                    <td class="col-sm-1" ng-bind="item.contractNo"></td>
                    <td class="col-sm-1">{{item.version==1?'1.0版本':'3.0版本'}}</td>
                    <td class="col-sm-1" ng-bind="item.contractSsn"></td>
                  
                    <td class="col-sm-1">
                        {{item.state=='0'||!item.state ?  '未发布':'已发布 ' }}
                    </td>
                    <td class="col-sm-2">
                        <button class="btn  btn-default btn-primary" ng-if="item.state=='0'||!item.state?true:false" ng-click="post(item.id)">发布</button>
                        <button class="btn  btn-default btn-success update" ng-if="!item.on"
                            ng-click="line('on',item.id)">上线</button>
                        <button class="btn  btn-default btn-warning update" ng-if="item.on"
                            ng-click="line('off',item.id)">下线</button>
                        <button class="btn  btn-default btn-primary update" ng-click="auditbtn(item)" ng-if="item.state=='0'||!item.state?true:false">修改</button>
                        <button class="btn  btn-danger  update" ng-click="del(item.id)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>



        <div class="col-sm-8 " ng-if="view.messages.items">
            <pagination items-per-page="view.messages.count" boundary-links="true" total-items="view.messages.total"
                ng-model="view.messages.page" class="pagination-sm" previous-text="&lsaquo;" ng-change="pageChange()"
                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
            </pagination>
        </div>
    </div>
    <div class="accounts_model container" ng-if="showpop">
        <div class="pop col-xs-6">
            <div class="modal-header text-center popheader">
                <button type="button" class="close" data-dismiss="modal" ng-click="closepop()">
                    <span>&times;</span>
                    <span class="sr-only" ng-click="closepop()">Close</span>
                </button>
                <h4 class="modal-title">新增</h4>
            </div>
            <div class="modal-body" style="position: absolute;top: 71px;width: 100%;">
                <div class="row">
                    <label for="appid" class="col-sm-3 control-label">规则名称</label>
                    <div class="col-sm-9">
                        <input autocomplete="off" type="text" class="form-control" id="name" ng-model="post.name"
                            required />
                    </div>
                </div>
                <div class="row">
                    <label for="appid" class="col-sm-3 control-label">合同规则编号</label>
                    <div class="col-sm-9">
                        <!-- 规则编号为四位数字,且一个合同编号下的规则编号不允许重复 -->
                        <input autocomplete="off" type="text" class="form-control" id="no" ng-model="post.contractNo" />
                    </div>
                </div>
                <div class="row">
                    <label for="appid" class="col-sm-3 control-label">合同编号</label>
                    <div class="col-sm-9">
                        <input autocomplete="off" type="text" class="form-control" id="contractSsn" required
                            ng-model="post.contractSsn" />
                    </div>
                </div>
                <div class="row">
                    <label for="appid" class="col-sm-3 control-label">合同版本</label>
                    <div class="col-sm-9 ">
                        <div><label for="">1.0合同</label>
                            <input type="radio" name="virson" value="1" ng-model="post.contractVersion">
                        </div>
                        <div><label for="">3.0合同</label>
                            <input type="radio" name="virson" value="3" ng-model="post.contractVersion">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="appid" class="col-sm-3 control-label">分账原因</label>
                    <div class="col-sm-9">
                        <input autocomplete="off" type="text" class="form-control" id="reason" required
                            ng-model="post.reason" />
                    </div>
                </div>
                <!-- 重复 -->
                <div class="row rules">

                    <label for="appid" class="col-sm-2 control-label">分账规则</label>
                    <div class="row col-sm-10" id="ruleallocate" style="margin: 0 0 15px" ng-if="post.contractVersion==1">
                        <label class="radio-inline" ng-repeat="(key,value) in view.rules[1]"
                            style="width: 31%;vertical-align: text-top">
                            <input autocomplete="off" type="checkbox" ng-model="value.checked" />
                            <span ng-bind="value.name"></span>
                        </label>
                    </div>
                    <div class="row col-sm-10" id="ruleallocate" style="margin: 0 0 15px" ng-if="post.contractVersion==3">
                        <label class="radio-inline" ng-repeat="(key,value) in view.rules[3]"
                            style="width: 31%;vertical-align: text-top">
                            <input autocomplete="off" type="checkbox" ng-model="value.checked" />
                            <span ng-bind="value.name"></span>
                        </label>
                    </div>

                </div>

                <div class="row">
                    <label for="appid" class="col-sm-3 control-label">附加描述信息</label>
                    <div class="col-sm-9">
                        <textarea name="descriptor" id="descriptor" ng-model="post.descriptor" cols="50"
                            rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="position: absolute;bottom: 10%;width: 100%;">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closepop()">关闭</button>
                <button class="btn btn-primary " ng-click="addsubmit()" type="submit">保存</button>
            </div>
        </div>
    </div>


</div>