<!DOCTYPE html>
<html ng-app>

<head>
    <!--[if lte IE 8]>
	<script>window.location.href='/upload.html';</script>
	<![endif]-->
    <!--[if lte IE 7]>
	<script>window.location.href='/upload.html';</script>
	<![endif]-->
    <!--[if lte IE 6]>
	<script>window.location.href='/upload.html';</script>
	<![endif]-->
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <script type="text/javascript" src="/public/js/jquery.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/public/js/jqcookie.js"></script>
    <script type="text/javascript" src="/public/angular/angular.js"></script>
    <script type="text/javascript" src="/public/js/md5-min.js" ></script>

</head>

<body ng-controller="GuestListCtrl as guest">
    <header></header>
    <div class="container">
        <div class="col-xs-2 left_menu"></div>
        <div class="col-xs-10 right_content">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li>
                        <a href="/user/index.html">客户管理</a>
                    </li>
                    <li class="active">浏览</li>
                </ol>
            </div>
            <div class="col-md-12">
                <form class="form-inline search" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">名称</div>
                            <input class="form-control col-md-10" ng-model="search_name" name="name" type="text" placeholder="输入客户名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">编号</div>
                            <input class="form-control" type="text" ng-model="search_code" placeholder="输入客户编号">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">客户状态</div>
                            <select class="form-control" name="state">
                                <option selected="selected" value="">所有</option>
                                <option value="1001">开启</option>
                                <option value="1002">关闭</option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-search">
                        <a ng-click="show_all()" type="submit" class="btn btn-primary btn-block">查询</a>
                    </div>
                </form>
            </div>
            <div class="col-md-12 results ">
                <table class="table table-bordered result">
                    <tr class="info ">
                        <th width=60>
                            <A class="check_all click" onclick="check_all('user_result')">全选</A>
                        </th>
                        <th>账号{{guest.name}}</th>
                        <th>昵称</th>
                        <th width=200>类型</th>
                        <th width=200>操作</th>
                    </tr>
                    <tr ng-repeat="list in guest.list">
                        <td></td>
                        <td>{{list.name}}</td>
                        <td>{{list.nickname}}</td>
                        <td>{{guest.role[list.type]}}</td>
                        <td>
                            <A ng-click="">修改</A>
                            <A ng-click="">删除</A>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <a class="btn  btn-primary btn-block" href="/user/add-1.html">添加客户</a>
                    </div>
                    <div class="col-md-8 text-center">
                        <ul class="pagination page">
                            <li bg-show="">
                                <a href="#">&laquo;</a>
                            </li>
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                    <div class="pagesize"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/public/js/my.js"></script>
<script></script>
</body>

</html>
