
    <div class="col-md-12 check_list">
        <table class="table table-bordered result text-center">
            <thead class="info">
                <th>姓名</th>
                <th>手机号</th>
                <th width="10%">身份证号</th>
                <th width="15%">身份证照片</th>
                <th width="10%">银行卡号</th>
                <th width="10%">开户行</th>
                <th width="15%">银行卡正面</th>
                <th width="150">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="info " ng-repeat="message in view.messages">
                    <td ng-bind="message.name"></td>
                    <td ng-bind="message.phone"></td>
                    <td ng-bind="message.identityNo"></td>
                    <td>
                        <img ng-src="{{message.identityPicUrl}}" alt="">
                    </td>
                    <td ng-bind="message.cardNo"></td>
                    <td ng-bind="message.bankName"></td>
                    <td> 
                        <img ng-src="{{message.cardPicUrl}}" alt="">
                    </td>
                    <td >
                        <!-- <a class="click del" data-id="">查询</a> -->
                        <a class="click del" ng-click="audit(message.id)">修改</a>
                        <a class="click del" ng-click="delete(message.id)">删除</a>
                    </td>
                <tr>
            </tbody>
        </table> 
        <div class="col-sm-8 " ng-if="view.messages.items">
                <pagination items-per-page="view.messages.count" boundary-links="true" total-items="view.messages.total" ng-model="view.messages.page" class="pagination-sm" previous-text="&lsaquo;" ng-change="pageChange()" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                </pagination>
    
        </div>          
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                <a id="new" class="btn  btn-primary btn-block" ng-click="addW()">添加钱包</a>
            </div>
            <div class="col-md-8 text-center">
                <ul class="pagination page">
                </ul>
            </div>
            <div class="pagesize">
            </div>
        </div>
    </div>
    <div class="modal" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog"  style=" width: 65% ; max-height: max-content">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">添加钱包</h4>
            </div>
            <form>
              <div class="modal-body form-horizontal">
                <div class="form-group mnemonic ">
                  <label class="col-sm-3 control-label text-right"><span
                    class="important">*</span>姓名</label>
      
                  <div class="col-sm-5">
                    <input class="form-control" id="name" ng-model="posts.name" type="text" required/>
                  </div>
                </div>
                <div class="form-group mnemonic ">
                    <label class="col-sm-3 control-label text-right"><span
                        class="important">*</span>手机号</label>
        
                    <div class="col-sm-5">
                      <input class="form-control" id="name" ng-model="posts.phone" type="text" required/>
                    </div>
                </div>
                <div class="form-group mnemonic ">
                    <label class="col-sm-3 control-label text-right"><span
                        class="important">*</span>身份证号</label>
        
                    <div class="col-sm-5">
                      <input class="form-control" id="name" ng-model="posts.identityNo" type="text" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label text-right"><span
                            class="important">*</span>身份证图片</label>
        
                    <div class="col-sm-4 picShow">
                        <div class="legalPicShow"><img src="/public/img/tem_upload.jpg" for="identityPic"/></div>
                        <label class="btn btn-primary pic identityPicChose btn-block" for="identityPic">点击选择图片</label>
                    </div>
                    <div class="col-sm-5 form-control-static error-text">
                        支持jpg、jpeg格式
                        <br> 图片大小不大于5M。
                        <div class="licencePic-error-text"></div>
                        <input type="file" class="hidden" id="identityPic" name="identityPic" 
                                onchange="pic_check('identityPic')">
                    </div>
                </div>
                <div class="form-group mnemonic ">
                    <label class="col-sm-3 control-label text-right"><span
                        class="important">*</span>银行卡号</label>
        
                    <div class="col-sm-5">
                      <input class="form-control" id="name" ng-model="posts.cardNo"  type="text" required/>
                    </div>
                </div>
                <div class="form-group mnemonic ">
                    <label class="col-sm-3 control-label text-right"><span
                        class="important">*</span>开户行</label>
        
                    <div class="col-sm-5">
                      <input class="form-control" id="name" ng-model="posts.bankName" type="text" required/>
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-3 control-label text-right"><span
                                class="important">*</span>银行卡图片</label>
            
                        <div class="col-sm-4 picShow">
                        <div class="legalPicShow"><img src="/public/img/tem_upload.jpg" for="cardPic"/></div>
                        <label class="btn btn-primary pic cardPicChose btn-block" for="cardPic">点击选择图片</label>
                        </div>
                        <div class="col-sm-5 form-control-static error-text">
                            支持jpg、jpeg格式
                            <br> 图片大小不大于5M。
                            <div class="licencePic-error-text"></div>
                            <input type="file" class="hidden" id="cardPic" name="cardPic" 
                                    onchange="pic_check('cardPic')">
                        </div>
                        <!-- <button type="submit" class="btn btn-primary click submit">上传</button> -->
                    </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary click submit">确认</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
    <div class="modal" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog"  style=" width: 65% ; max-height: max-content">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">修改钱包</h4>
                </div>
                <form>
                  <div class="modal-body form-horizontal">
                    <div class="form-group mnemonic ">
                      <label class="col-sm-3 control-label text-right"><span
                        class="important">*</span>姓名</label>
          
                      <div class="col-sm-5">
                        <input class="form-control" id="name" ng-model="posts.name" type="text" required/>
                      </div>
                    </div>
                    <div class="form-group mnemonic ">
                        <label class="col-sm-3 control-label text-right"><span
                            class="important">*</span>手机号</label>
            
                        <div class="col-sm-5">
                          <input class="form-control" id="name" ng-model="posts.phone" type="text" required/>
                        </div>
                    </div>
                    <div class="form-group mnemonic ">
                        <label class="col-sm-3 control-label text-right"><span
                            class="important">*</span>身份证号</label>
            
                        <div class="col-sm-5">
                          <input class="form-control" id="name" ng-model="posts.identityNo" type="text" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label text-right"><span
                                class="important">*</span>身份证图片</label>
            
                        <div class="col-sm-4 picShow">
                            <div class="legalPicShow"><img src="{{posts.identityPicUrl}}" for="identityPic"/></div>
                            <label class="btn btn-primary pic identityPicChose btn-block" for="identityPic">点击选择图片</label>
                        </div>
                        <div class="col-sm-5 form-control-static error-text">
                            支持jpg、jpeg格式
                            <br> 图片大小不大于5M。
                            <div class="licencePic-error-text"></div>
                            <input type="file" class="hidden" id="identityPic" name="identityPic" 
                                    onchange="pic_check('identityPic')">
                        </div>
                    </div>
                    <div class="form-group mnemonic ">
                        <label class="col-sm-3 control-label text-right"><span
                            class="important">*</span>银行卡号</label>
            
                        <div class="col-sm-5">
                          <input class="form-control" id="name" ng-model="posts.cardNo"  type="text" required/>
                        </div>
                    </div>
                    <div class="form-group mnemonic ">
                        <label class="col-sm-3 control-label text-right"><span
                            class="important">*</span>开户行</label>
            
                        <div class="col-sm-5">
                          <input class="form-control" id="name" ng-model="posts.bankName" type="text" required/>
                        </div>
                    </div>
                    <div class="form-group">
                            <label class="col-sm-3 control-label text-right"><span
                                    class="important">*</span>银行卡图片</label>
                
                            <div class="col-sm-4 picShow">
                            <div class="legalPicShow"><img src="{{posts.cardPicUrl}}" for="cardPic"/></div>
                            <label class="btn btn-primary pic cardPicChose btn-block" for="cardPic">点击选择图片</label>
                            </div>
                            <div class="col-sm-5 form-control-static error-text">
                                支持jpg、jpeg格式
                                <br> 图片大小不大于5M。
                                <div class="licencePic-error-text"></div>
                                <input type="file" class="hidden" id="cardPic" name="cardPic" 
                                        onchange="pic_check('cardPic')">
                            </div>
                            <!-- <button type="submit" class="btn btn-primary click submit">上传</button> -->
                        </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary click submit">确认</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>

    <script>
        $(function () {
            if (config.role.type == "M") {
                $("select[name=type]").append("<option value='K'>" + role.K + "</option><option value='S'>" + role.S + "</option>");
            } else {
                $(".select-type").remove();
            }
            $("input[type=file]").change(function () {
                var objUrl = getObjectURL(this.files[0]);
                if (objUrl) {
                    imgShow = $(this).parent().parent().find("img");
                    imgShow.attr("src", objUrl);
                    imgShow.width("100%");
                }
            });
            function pic_check(pic) {
                obj = $("." + pic + "Chose");
                input = $("." + pic + " input");
                if (!input.val() || input.val() !== "") {
                    obj.text("已选择").addClass('btn-success').removeClass("btn-primary").removeClass("btn-error");

                } else {
                    obj.text("请选择图片").addClass('btn-error').removeClass("btn-primary").removeClass("btn-success");
                }
            };
        })
    </script>
</body>

</html>
